.mainGrid {
  display: flex;
  flex-wrap: wrap;

  .playGrid {
    display: flex;
    flex-wrap: nowrap;

    input {
      width: 25px;
      height: 25px;
      margin: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      text-align: center;
    }
  }
}
