body {
  background-color: white;
}
footer {
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;

  font-family: "Tangerine", serif;
  font-size: 30px;
  margin-top: 1000vh;
}
