
div{
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    width: 2.5em;
    height: 2.5em;
    border: 1px solid #ccc;
    outline: none;
    text-align: center;
    &:focus {
      border-color: blue;
  
  }
  }
}

.mainGrid{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;}
.playGrid{
  display:block;

}



